<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="styles.css">

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="getEffect"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="[{height: '100px'}, {width: '100px'}, customClass, getAlignCenter]" :style="{backgroundColor: color}">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    Type a color between red, green, yellow and gray: <input type="text" v-model="color" >
    <div></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    Class: (Example: shadow)<input type="text" v-model="customClass">
    true or false? <input type="text" v-model="alignCenter">
    <div></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    Type any color you want: <input type="text" v-model="colorStyle">
    <div  :style="{height: '100px', width: '100px', backgroundColor: colorStyle}"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button @click="startProgress">Start Progress</button>
    
    <br><br><br>

    <div style="background-color: white; width: 1000px; height: 15px;  
    border-radius: 25px;
    border: 2px solid #73AD21;
    ">  
      <div style="background-color: #73AD21;
      border-radius: 25px;
      border: 0px solid #73AD21;
      height: 15px;" :style="{width: width+'px'}"></div>
    </div>
  </div>
</div>

<script src="app.js"></script>